<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>

    <link rel="stylesheet" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- plugins:js -->
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/hoverable-collapse.js}"></script>
    <script th:src="@{/js/misc.js}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script th:src="@{/js/file-upload.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <!-- End custom js for this page -->

</head>
<body>

<!--<div th:replace="~{fragments/header::header}"></div>-->

<div layout:fragment="content" class="content"></div>

<th:block layout:fragment="script"></th:block>

<!--<div th:replace="~{fragments/footer::footer}"></div>-->

</body>
</html>